target/
** /target/
smartcontract/target/
.soroban/
node_modules/
node_modules/
.next/

# next-pwa generated service worker output
public/sw.js
public/sw.js.map
public/swe-worker*.js
public/swe-worker*.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
