@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 8% 97%; /* #F7F8F8 White Highlight */
    --foreground: 218 53% 33%; /* #284881 Deep Blue */
    --card: 0 0% 100%;
    --card-foreground: 218 53% 33%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 53% 33%;
    --primary: 219 70% 40%; /* #1E50AD Royal Blue */
    --primary-foreground: 180 8% 97%;
    --secondary: 216 100% 75%; /* #7FB3FF Light Blue Accent */
    --secondary-foreground: 219 70% 40%;
    --muted: 200 6% 80%; /* #C8CCCE Light Silver */
    --muted-foreground: 222 6% 60%; /* #95989F Dark Silver */
    --accent: 216 100% 75%; 
    --accent-foreground: 218 53% 33%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 5% 70%; /* #AFB3B7 Medium Silver */
    --input: 210 5% 70%;
    --ring: 219 70% 40%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 218 53% 33%; /* #284881 Deep Blue */
    --foreground: 180 8% 97%; /* #F7F8F8 White Highlight */
    --card: 219 70% 40%; /* #1E50AD Royal Blue */
    --card-foreground: 180 8% 97%;
    --popover: 219 70% 40%;
    --popover-foreground: 180 8% 97%;
    --primary: 216 100% 75%; /* #7FB3FF Light Blue Accent */
    --primary-foreground: 218 53% 33%;
    --secondary: 200 6% 80%; /* #C8CCCE Light Silver */
    --secondary-foreground: 218 53% 33%;
    --muted: 210 5% 70%; /* #AFB3B7 Medium Silver */
    --muted-foreground: 200 6% 80%;
    --accent: 219 70% 40%;
    --accent-foreground: 180 8% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 219 70% 40%;
    --input: 219 70% 40%;
    --ring: 216 100% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground shrink-0 transition-colors duration-500 ease-in-out overflow-x-hidden;
  }
}